<div style="height: 100vh;">
  <mat-toolbar color="primary">
    <div fxShow="true" fxHide.gt-sm="true">
      <a style="cursor: pointer" (click)="sidenav.toggle()">
        <mat-icon style="color: #fff;">menu</mat-icon>
      </a>
    </div>
    <span class="example-spacer"></span>
    <div fxShow="true" fxHide.lt-md="true">
      <!-- The following menu items will be hidden on both SM and XS screen sizes -->
      <a routerLink="/agenda" routerLinkActive="active" mat-button>Agenda</a>
      <a routerLink="/profile" routerLinkActive="active" mat-button>Profile</a>
      <a href="" mat-button>Logout</a>
    </div>
  </mat-toolbar>
  <mat-sidenav-container fxFlexFill class="example-container">
    <mat-sidenav #sidenav fxLayout="column">
      <div fxLayout="column">
        <a class="link" routerLink="/agenda" routerLinkActive="active" mat-button>Agenda</a>
        <a class="link" routerLink="/profile" routerLinkActive="active" mat-button>Profile</a>
        <a mat-button style="position: absolute;
    bottom: 65px;">Logout</a>
      </div>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
