.team-wrapper {
  width: 50%;
  text-align: left;
}
.team-wrapper.first {
  border-right: 1px solid #eee;
}
.team-wrapper.second {
  margin-left: 15px;
}
.team-wrapper>h3 {
  margin-top: 0;
}
.match-panel-body {
  display: flex;
  flex: 1;
  flex-direction: row;
  overflow: hidden;
  justify-content: center;
  position: relative;
}
.state {
  width: 20px;
  height: 14px;
  font-size: 14px;
  color: tomato;
}
.state.in {
  color: green;
}
.panel-title{
  width: 100%;
  display: block;
  font-size: 16px;
  font-weight: bold;
}
.panel-date {
  font-size: 12px;
}
.panel-stat {
  position: absolute;
  right: 10px;
  top: 12px;
}
.player {
  cursor: pointer;
}
.match-menu {
  position: absolute;
  right: 0;
  bottom: 0;
}
