<mat-expansion-panel *ngIf="!editMode && !freeEntity">
  <mat-expansion-panel-header>
    <div>
      <div class="panel-title">{{match.teams[0].name}} vs {{match.teams[1].name}}</div>
      <span class="panel-stat">{{checkedPlayer}}/{{totalPlayers}}</span>
      <div class="panel-date">{{dateToString(match.date)}}</div>
    </div>
  </mat-expansion-panel-header>
  <div class="match-panel-body">

    <div class="match-menu">
      <mat-menu #match_menu="matMenu">
        <button mat-menu-item (click)="onEdit()">Edit</button>
        <button mat-menu-item (click)="onRemove()">Remove</button>
      </mat-menu>

      <button mat-icon-button [matMenuTriggerFor]="match_menu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>


    <div class="team-wrapper first">
      <h3>{{match.teams[0].name}}</h3>
      <div class="player" *ngFor="let player of match.teams[0].players"
           (click)="togglePlayerState(match.teams[0]. id,player.id)">
        <mat-icon class="state" [ngClass]="{'in': player.check}">
          {{player.check ? 'check' : 'close'}}
        </mat-icon>
        <span class="name">{{player.name}}</span>
      </div>
    </div>
    <div class="team-wrapper second">
      <h3>{{match.teams[1].name}}</h3>
      <div class="player" *ngFor="let player of match.teams[1].players"
           (click)="togglePlayerState(match.teams[1].id,player.id)">
        <mat-icon class="state" [ngClass]="{'in': player.check}">
          {{player.check ? 'check' : 'close'}}
        </mat-icon>
        <span class="name">{{player.name}}</span>
      </div>
    </div>
  </div>
</mat-expansion-panel>

<mat-expansion-panel *ngIf="editMode || freeEntity" (opened)="editMode" [expanded]="true">
  <mat-expansion-panel-header>
    <div>
      <div class="panel-title">Please complete the necessary fields</div>
    </div>
  </mat-expansion-panel-header>

  <form [formGroup]="matchForm" (ngSubmit)="save()">
    <mat-form-field>
      <input matInput [matDatepicker]="picker" [formControl]="date" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <div [hidden]="date.valid || date.untouched">
      <div [hidden]="!date.hasError('required')">
        Date is required.
      </div>
    </div>
    <br>

    <mat-form-field>
      <mat-select id="team1-select" [formControl]="team1" placeholder="First Team">
        <mat-option *ngFor="let team of teamList" [value]="team.id">
          {{team.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div [hidden]="team1.valid || team1.untouched">
      <div [hidden]="!team1.hasError('required')">
        Date is required.
      </div>
    </div>
    <br>

    <mat-form-field>
      <mat-select id="team2-select" [formControl]="team2" placeholder="First Team">
        <mat-option *ngFor="let team of teamList" [value]="team.id">
          {{team.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div [hidden]="team2.valid || team2.untouched">
      <div [hidden]="!team2.hasError('required')">
        Date is required.
      </div>
    </div>
    <br>

    <button [disabled]="!matchForm.valid" mat-button type="submit">Save</button>
  </form>
</mat-expansion-panel>
