<mat-accordion  *ngIf="(matchList$ | async).length > 0;else emptyContent">
  <app-match-leaf *ngFor="let match of matchList$ | async"
                  [match]="match"
                  (update)="onMatchUpdate($event)"
                  (remove)="onMatchRemove($event)"
                  (updatePlayerState)="onUpdatePlayerState($event)"
                  [teams]="teamList$"
  >
  </app-match-leaf>
</mat-accordion>

<ng-template #emptyContent>
  <div id="card-alert" class="card light-blue">
    <div class="card-content light-blue-text">
      <p>There are no matches!</p>
    </div>
  </div>
</ng-template>

<app-match-leaf *ngIf="showFreeEntity"
                (update)="onMatchUpdate($event)"
                [teams]="teamList$"
                [freeEntity]="true">
</app-match-leaf>

<!-- Just for testing! -->
<mat-toolbar color="primary" class="test-toolbar">
  <mat-toolbar-row>
   <a (click)="newMatch()" mat-button><mat-icon style="color: #fff;">add</mat-icon>New Match</a>
  </mat-toolbar-row>
</mat-toolbar>
