.light-blue{
  background-color: #e1f5fe !important;
}
.card {
  overflow: hidden;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  position: relative;
  margin: 0.5rem 0 1rem 0;
  background-color: #fff;
  transition: box-shadow .25s;
  border-radius: 2px;
}
.card .card-content {
  padding: 20px;
  border-radius: 0 0 2px 2px;
}
.light-blue-text {
  color: #03a9f4 !important;
}
.card .card-content p {
  margin: 0;
  color: inherit;
}
