/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
app-agenda span.mat-content {
  display: block;
  position: relative;
}

app-agenda .mat-expansion-panel {
  margin: 5px;
}
